<div class="card session-form">
  <div class="card-content">
    <h2 class="title has-text-centered is-size-4">Forgot your password?</h2>
      <%= render "partials/alert"%>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="field">
            
            <p class="control">

              <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"input is-rounded",placeholder:"Email" %>
            </p>
          </div>

          <div class="actions reset">
            <%= f.submit "Send  instructions",class:"button is-fullwidth is-rounded is-primary" %>
          </div>
        <% end %>
    </div>
</div>
<br/>
<div class="has-text-centered">
  <%= render "devise/shared/links" %>
</div>