<div class="columns is-multiline">
        <% users.each do |user| %>
            <div class="column is-3-desktop">
            
            <div class="card">
                
                <div class="card-content">
                    <a  href="<%= user_path(user) %>"> 
                    <figure class="image">
                    <img src="https://placeimg.com/60/60/people?id=<%= user.id%>" class="is-rounded">
                    </figure>
                    </a>
                    <p class="has-text-centered">

                        <a  class="has-text-black has-text-centered is-size-6" title="See Profile" href="<%= user_path(user) %>"> <%= user.name %></a>
                    </p>
                    <p class="has-text-centered">

                    </p>
                </div>
                <div class="card-footer">
                    <div class="card-footer-item">               
                        <%= accept_friendship(user) %>                        
                    </div>             
                   
                    <div class="card-footer-item">               
                        <%= reject_friendship(user) %>
                    </div>
                  
                </div>
                
            </div>
            </div>
        <% end %>
    </div>